<section class="user-content">
	<main>
		<div class="row">
			<div class="col-md-2">
				<div class="dashboard-nav bg-success text-light position-fixed">
					<img src="assets/logo-white.png" alt="Logo aplikacji LoveFood">
					<div class="user">
						<p>Witaj!</p>
						<h4>{{user}}</h4>
					</div>
					<ul class="nav flex-column">
						<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/recipes"><i class="fa fa-cutlery" aria-hidden="true"></i> Wszystkie przepisy</a>
					  	</li>
						<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/add-recipes"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj przepis</a>
					  	</li>
					</ul>
					<ul class="nav flex-column">
					  	<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/my-recipes"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Moje przepisy</a>
					  	</li>
					  	<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/password"><i class="fa fa-cog" aria-hidden="true"></i> Zmień hasło</a>
					  	</li>
					</ul>
					 <a class="btn btn-outline-light button" href="#!/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj się</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="dashboard-content" ng-init="displayMyRecepies();">
					<div class="container">
						<h2>Moje przepisy</h2>
						<br>
						<form class="form-row">
						  <div class="col-11">
						  	<input type="search" class="form-control" placeholder="wyszukaj przepisy" ng-model="search">
						  </div>
						</form>
						<hr>
						<div class="row">
							<div class="card-columns">
							<div class="col-md-4" ng-repeat="recepi in myRecepies | filter: search">
								<div class="card border-success bg-light" style="width: 20rem;">
								  <img class="card-img-top" src="{{recepi.url}}" alt="Card image cap">
								  <div class="card-body">
								    <h5 class="card-title">{{recepi.recipename}}</h5>
								    <form>
								    	<div class="form-group">
								    		<input type="text" class="form-control" placeholder="wpisz ilość porcji" ng-model="porcja">
								    	</div> 
								    	 <button class="btn btn-dark">Przelicz</button>
								    </form>
								    <p class="card-text">
								    	<h5>Lista składników:</h5>
								    	<ul>
								    		<li>Składnik 1</li>
								    		<li>Składnik 2</li>
								    		<li>Składnik 3</li>
								    		<li>Składnik 4</li>
								    		<li>Składnik 5</li>
								    	</ul>
								    	<h5>Sposób przygotowania:</h5>
								    	<p class="text-justify">{{recepi.directions}}</p>
								    	<p><i class="fa fa-hourglass-half" aria-hidden="true"></i> Czas przygotowania: {{recepi.time}}min</p>
								    </p>
								    <a href="#" class="btn btn-warning my-recipe"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edycja</a><a href="#" class="btn btn-danger my-recipe"><i class="fa fa-trash" aria-hidden="true"></i> Usuń</a>
								  </div>
								  </div>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>
