<section class="user-content">
	<main>
		<div class="row">
			<div class="col-md-2">
				<div class="dashboard-nav bg-success text-light position-fixed">
					<img src="assets/logo-white.png" alt="Logo aplikacji LoveFood">
					<div class="user">
						<p>Witaj!</p>
						<h4>{{user}}</h4>
					</div>
					<ul class="nav flex-column">
						<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/recipes"><i class="fa fa-cutlery" aria-hidden="true"></i> Wszystkie przepisy</a>
					  	</li>
						<li class="nav-item">
					    	<a class="nav-link text-light" href="#"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj przepis</a>
					  	</li>
					</ul>
					<ul class="nav flex-column">
					  	<li class="nav-item">
					    	<a class="nav-link text-light" href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i> Moje przepisy</a>
					  	</li>
					  	<li class="nav-item">
					    	<a class="nav-link text-light" href="#!/password"><i class="fa fa-cog" aria-hidden="true"></i> Zmień hasło</a>
					  	</li>
					</ul>
					 <a class="btn btn-outline-light button" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj się</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="dashboard-content">
					<div class="container">
						<h2>Zmień hasło</h2>
						<p>Wprowadź nowe hasło!</p>
						<hr>
						<form class="form-row">
						  <div class="col-11">
						  	<input type="password" class="form-control" placeholder="nowe hasło" ng-model="newPassword">
						  </div>
						  <button class="btn btn-success" ng-click="newPass()"><i class="fa fa-exchange" aria-hidden="true"></i> Zmień hasło</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>
